@inject IStringLocalizer<Language> Localizer

<nav class="navbar navbar-expand-lg fixed-top bg-blue">
    <a id="djsite" class="navbar-brand col-white" href="#DJSite">
        <img src="~/assets/dj-party-music-white.svg" alt="" class="d-inline-block align-text-top mx-3">
        DJ Site
        <span id="span-djsite" class="span-navbar"></span>
    </a>
    <div id="navbar-container">
      <ul id="navbar-list">
        <li class="nav-item">
            <a class="nav-link col-white" href="#about-me">@Localizer["about_me"]</a>
            <span class="span-navbar"></span>
        </li>
        <li class="nav-item">
            <a class="nav-link col-white" href="#offer">@Localizer["offer"]</a>
            <span class="span-navbar"></span>
        </li>
        <li class="nav-item">
            <a class="nav-link col-white" href="#gallery">@Localizer["gallery"]</a>
            <span class="span-navbar"></span>
        </li>
        <li class="nav-item">
            <a class="nav-link col-white" href="#sectionCalendar">@Localizer["calendar"]</a>
            <span class="span-navbar"></span>
        </li>
        <li class="nav-item">
            <a class="nav-link col-white" href="#contact">@Localizer["contact"]</a>
            <span class="span-navbar"></span>
        </li>
      </ul>
    </div>
    <button id="btn-facebook" class="btn-nav-icon" type="button" onclick="window.location.href='#contact'"></button>
    <button id="btn-instagram" class="btn-nav-icon" type="button" onclick="window.location.href='#contact'"></button>
    <button id="btn-email" class="btn-nav-icon" type="button" style="margin-right: 8px" onclick="window.location.href='#contact'"></button>
    <button id="btn-toggle-nav" class="btn-nav-icon" type="button" onclick="mobileMenu()" style="margin-right: 8px">
      <span></span>
      <span></span>
      <span></span>
    </button>
</nav>

<div id="navbar-container-mobile">
    <ul id="navbar-list-mobile">
    <li class="nav-item">
        <a class="nav-link col-white" href="#about-me">O mnie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link col-white" href="#offer">Oferta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link col-white" href="#gallery">Galeria</a>
    </li>
    <li class="nav-item">
        <a class="nav-link col-white" href="#sectionCalendar">Kalendarz</a>
    </li>
    <li class="nav-item">
        <a class="nav-link col-white" href="#contact">Kontakt</a>
    </li>
    </ul>
</div>
