@inject IStringLocalizer<Language> Localizer

<section id="DJSite">
    <p class="animation-fade-in">@Localizer["txt_top"]</p>
</section>

<div id="filler1" class="fill">
    <p>
        @Localizer["professionalism"]
        <img src="/assets/headphones-g8a.png" alt=""/>
    </p>
</div>

<section id="about-me">
    <p>@Localizer["hi"]</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["description_of_me"]</p>
</section>

<div id="filler2" class="fill">
    <p>@Localizer["my_offer"]</p>
</div>

<section id="offer" class="row row-cols-1 row-cols-lg-3 gx-0">
    <div class="col offer-col">
        <div></div>
        <img src="/assets/bar.jpg" alt="" />
        <p>@Localizer["illuminated_title"]</p>
        <p>@Localizer["illuminated"]</p>
    </div>
    <div class="col offer-col">
        <div></div>
        <img src="/assets/lightshow.jpg" alt="" />
        <p>@Localizer["lightshow_title"]</p>
        <p>@Localizer["lightshow"]</p>
    </div>
    <div class="col offer-col">
        <div></div>
        <img src="/assets/people.jpg" alt="" />
        <p>@Localizer["party_title"]</p>
        <p>@Localizer["party"]</p>
    </div>
</section>

<div class="fill">
    <p>@Localizer["txt_gallery"]</p>
</div>

<section id="gallery">
    <div id="container-gallery" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gx-0"></div>
    <div id="gallery-mode"></div>
</section>

<div class="fill">
    <p>@Localizer["calendar"]</p>
</div>

<section id="sectionCalendar" class="container">
    <div id="calendar">
        <div class="container">
            <div id="container-btn-calendar">
                <button type="button" id="btn-move-prev" class="btn btn-outline-primary btn-calendar"></button>
                <button type="button" id="btn-move-today" class="btn btn-outline-primary btn-calendar">
                    @Localizer["today"]
                </button>
                <button type="button" id="btn-move-next" class="btn btn-outline-primary btn-calendar"></button>
            </div>
            <div id="container-range">
                <span id="renderRange"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="lnb-calendars">
             <div id="calendarList"></div>
        </div>
    </div>
</section>

<section id="contact" class="row row-cols-1 row-cols-lg-2 gx-5">
    <div class="col contact-col">
        <img src="/assets/telephone-round-line-black.svg" alt="" />
        <p>+48 123 456 789</p>
    </div>
    <div class="col contact-col">
        <img src="/assets/facebook-round-line-black.svg" alt="" />
        <p>DJ Site</p>
    </div>
    <div class="col contact-col">
        <img src="/assets/instagram-round-line-black.svg" alt="" />
        <p>DJ_Site</p>
    </div>
    <div class="col contact-col">
        <img src="/assets/email-round-line-black.svg" alt="" />
        <p>djsite@email.com</p>
    </div>
</section>

<div id="cookies">
    <p>@Localizer["cookies"]</p>
    <button id="btn-cookies" type="button" class="btn btn-warning">@Localizer["accept"]</button>
</div>

@section Scripts{
    <script type="text/javascript">

    function getImages() {
        return new Promise((resolve, reject) => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetImages")",
                success: function(data) {
                    resolve(data);
                },
                error: function(data) {
                    reject("Error" + data);
                }
            })
        });
    }

    function getSchedulesFromDataBase(calendar) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllSchedules")',
            success: function (data) {
                data.forEach(function (schedule) {
                    var newCalendar = findCalendar(schedule.calendarId);
                    var newSchedule = {
                        id: schedule.id.toString(),
                        category: schedule.isAllDay ? 'allday' : 'time',
                        isAllDay: schedule.isAllDay,
                        start: new Date(schedule.startDate + "Z"),
                        end: new Date(schedule.endDate + "Z"),
                        color: newCalendar.color,
                        bgColor: newCalendar.bgColor,
                        dragBgColor: newCalendar.bgColor,
                        borderColor: newCalendar.borderColor,
                        isPrivate: false,
                        calendarId: schedule.calendarId,
                    };
                    calendar.createSchedules([newSchedule]);
                });
            },
            error: function (errorData) {
                console.log(errorData);
            }
        });
    }

    function createCalendar() {
        var $calendar = $('#calendar').tuiCalendar({
        defaultView: 'month',
        useCreationPopup: false,
        useDetailPopup: false,
        calendars: CalendarList,
        month: {
            daynames: ['@Localizer["Sun"]',
                '@Localizer["Mon"]',
                '@Localizer["Tue"]',
                '@Localizer["Wed"]',
                '@Localizer["Thu"]',
                '@Localizer["Fri"]',
                '@Localizer["Sat"]'],
            startDayOfWeek: 1
            }
        });

        return $calendar.data('tuiCalendar');
    }

    function renderTypeShedules(CalendarList) {
        var calendarList = document.getElementById('calendarList');
        var html = [];
        CalendarList.forEach(function (calendar) {
            html.push('<div class="lnb-calendars-item"><label>' +
                '<input type="checkbox" class="tui-full-calendar-checkbox-round" value="' + calendar.id + '" checked>' +
                '<span style="border-color: ' + calendar.borderColor + '; background-color: ' + calendar.borderColor + ';"></span>');

            switch (calendar.name) {
                case "Free term":
                    html.push('<span>' + '@Localizer["Free term"]');
                    break;
                case "Deadline busy":
                    html.push('<span>' + '@Localizer["Deadline busy"]');
                    break;
            }
            html.push('</span></label></div>');
        });
        calendarList.innerHTML = html.join('\n');
    }

    </script>
}
